mapHeight = 400px

*
    text-rendering: optimizeLegibility
    box-sizing: border-box

html, body
    margin: 0
    padding: 0

body
    background: #f6f6f6
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif

#map
    height: mapHeight
    width: 100%

.menu
    background: #15a287
    font-size: 30px
    text-align: center

    select
        background: transparent
        border: none
        color: white

        width: 100%
        margin: 0

.courseList
    left: 0
    top: mapHeight
    bottom: 0
    width: 100%
    overflow-y: scroll

    >div
        // Cannot pad a fixed div
        padding: 15px
        >div
            padding: 15px 0

    ul
        padding: 0

    .course
        margin-bottom: 12px
        list-style: none

    .name
        font-size: 1.2em
        color: #444

    .title
        color: #666
        font-size: 0.8em
